@keyframes slideToRight {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100px);
    }
}

.animate-slide-to-right {
    animation: slideToRight 0.5s ease forwards;
}


@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}